@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>疯狂打地鼠！</title>
</head>
<body style="background-image:url(/images/打地鼠/背景.jpg);background-size:cover">
<h1 >疯狂打地鼠</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div @*style="background-image:url(/images/打地鼠/背景.jpg)"*@>
        <div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div><img src="~/images/打地鼠/土堆.png" /></div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div><img src="~/images/打地鼠/土堆.png" /></div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div style="float:left;margin-right:300px"><img src="~/images/打地鼠/土堆.png" /></div>
            <div><img src="~/images/打地鼠/土堆.png" /></div>
        </div>
    </div>

</body>


















