@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>源栈欢迎您！</title>
</head>
<body>
    <h1>HTML DOM示范</h1>
    <div>
        <p>HTML DOM定义了访问和操作HTML文档的标准方法。</p>
        <p>
            DOM将HTML文档表达为树结构。见：
            <a href="http://www.w3cschool.com.cn/htmldom/index.asp" target="_blank">w3cschool教程</a>
        </p>
        <p id="sample">
            但我们认为，将其图示为
            <strong kks="test" style="color:darkblue">嵌套结构</strong>
            过渡更容易理解
        </p>
        <img src="~/images/lover.png" alt="HTML DOM 嵌套图例" />
    </div>





    <!--document.getElementById('sample').style.color='red'-->
    <!--将蓝色改为红色-->
    <!--document.getElements-->
    <!--      -->
    <!--document.getElementById('sample').children-->
    <!--取出元素strong-->
    <!--document.getElementById('sample').childNodes-->
    <!--取出元素text,strong,text-->
    <!--document.querySelector('[kks]')-->
    <!--取出<strong kks="test" style="color:darkblue">嵌套结构</strong>-->
    <!--document.getElementById('sample').previousElementSibling-->
    <!--<取出上一个标签<p>
            DOM将HTML文档表达为树结构。见：
            <a href="http://www.w3cschool.com.cn/htmldom/index.asp" target="_blank">w3cschool教程</a>
        </p>>-->
    <script>

        var welcome = document.createElement('p');     //创建一个P标签
        welcome.setAttribute('style', 'font-size:24px');  //添加属性
        var text = document.createTextNode('源栈欢迎您！')    //添加文本
        welcome.append(text);     //尾部添加
        document.getElementById('sample').append(welcome);   //选中sample这个ID的标签 ,在其尾部添加P标签




    </script>








</body>
</html>