@page

<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta charset="utf-8" />
    <title>疯狂打地鼠！</title>
</head>
<body>
    <h1>111</h1>
    <h1>222</h1>
    <h1>333</h1>
    <script>
        
            $("h1").click(function () {
                $("h1").hide();
            });
        
    </script>


</body>



















</html>>